@import "tailwindcss";

@theme {
  --color-theme-primary: #0d1b2a;
  --color-theme-secondary: #1b263b;
  --color-theme-accent: #415a77;
  --color-theme-text: #e0e1dd;
  --color-theme-highlight: #778da9;
}