---
import MainLayout from "@/src/layouts/MainLayout.astro";
import Grid from "@/src/components/Grid.astro";
import type { CardData } from "@/src/types/cardData";

import { elementsContent } from "@/src/content/elements";

const cards: CardData[] = elementsContent.map(({ slug, title, description }) => ({
	title,
	description,
	link: `/elements/${slug}`,
}));
---

<MainLayout title="HTML Gems Uncovered">
	<header class="text-center mb-12">
		<h1 class="text-5xl font-bold mb-2">HTML Gems Uncovered</h1>
		<p class="text-xl text-theme-highlight">A collection of powerful and underused HTML elements.</p>
	</header>
	<Grid cards={cards} />
</MainLayout>