---
interface Props {
  summary: string;
  content: string;
}

const {
  summary = "Click to see more",
  content = "Here are some more details about this topic. You can put any content in here, like text, images, or even other elements.",
} = Astro.props;
---

<details class="bg-brand-secondary p-4 rounded-lg">
  <summary class="font-bold cursor-pointer hover:text-brand-highlight"
    >{summary}</summary
  >
  <p class="mt-4">{content}</p>
</details>

