---
import MainLayout from "@/src/layouts/MainLayout.astro";
import CodeSnippet from "@/src/components/CodeSnippet.astro";
import type { Snippet } from "@/src/types/codeSnippet";

interface Props {
    title: string;
    elementName: string;
    snippets: Snippet[];
}

const { title, elementName, snippets } = Astro.props;
---
<MainLayout {title}>
  <header>
    <a href="/" class="text-theme-highlight hover:text-theme-text mb-8 block">&larr; Back to all elements</a>
  </header>
  <main class="prose prose-lg max-w-none dark:prose-invert">
    <h1 class="not-prose text-7xl font-bold mb-4">{elementName}</h1>
    
    <slot name="description" />

    <h2 class="not-prose text-4xl font-bold mt-12 mb-4">When to use it</h2>
    <slot name="when-to-use" />

    <h2 class="not-prose text-4xl font-bold mt-12 mb-4">Live Demo</h2>
    <div class="p-8 border-2 border-dashed border-theme-accent rounded-lg">
        <slot name="demo" />
    </div>

    <h2 class="not-prose text-4xl font-bold mt-12 mb-4">Code Snippet</h2>
    <p>Here's the code you need to implement it. Click copy to get the code.</p>
    
    <CodeSnippet snippets={snippets} />
  </main>
</MainLayout> 