---
import "@/src/styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/images/icon.webp" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="bg-theme-primary text-theme-text">
		<main class="container mx-auto px-4 py-8">
			<slot />
		</main>
	</body>
</html>
